body {
  margin: 0;
  font-family: "Karla", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
}

.nav--logo {
  display: flex;
  align-items: center;
}

.nav--logo > img {
  height: 26.22px;
  margin-right: 7px;
}

.nav--logo > h2 {
  color: #fff;
  font-size: 21px;
}

.nav--project {
  font-size: 13px;
  color: #fff;
}

main {
  padding: 15px;
  max-width: 577px;
  margin: 0 auto;
}

.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  font-size: 12px;
  border: 1px solid #d5d4d8;
  border-radius: 5px;
  text-indent: 5px;
}

.form--button {
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  border-radius: 5px;
  border: none;
  font-family: "Karla", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  grid-column: 1 / -1;
  cursor: pointer;
  transition: 0.5s;
}

.form--button:hover {
  background: linear-gradient(90deg, #672280 1.18%, #4f006b 100%);
}
